/* 
Purpose: Home Page Stylesheet
Author: Schoolcraft College
*/

/* --------------------------------------------------------------
>>>>> TABLE OF CONTENTS
-----------------------------------------------------------------

# HOME BASICS
# HOME HEADER

---------------------------------------------------------------*/

/* --------------------------------------------------------------
# HOME BASICS
-------------------------------------------------------------- */

	#home-content-wrapper {
		background: #fff;
		padding: 0;
	}

	.section-title {
		font: 2.57rem "Jaldi", sans-serif;
    	color: #002855;
    	text-align: center;
    	margin-top: 25px;
		margin-bottom: 25px;
	}

	.section-subtitle {
		font: 2rem "Jaldi", sans-serif;
		font-weight: bold;
    	color: #A07400;
    	text-transform: uppercase;
    	text-align: center;
		margin-bottom: 25px;
	}

/* --------------------------------------------------------------
# HOME HEADER
-------------------------------------------------------------- */

	#home-hero {
		padding: 0;
		margin-bottom: 25px;
	}

	#home-hero-left {
		position: relative;
		padding: 0;
		height: 640px;
		background: url("../images/hero-welding.jpg") center center;
		background-size: cover;
	}

	#home-hero-right {
		position: relative;
		padding: 0;
		height: 640px;
		background: #002855;
	}

	.home-hero-chevron svg { display:block; }

	@media screen and (max-width: 63.9375em) {
		#home-hero-right {
			height: auto;
			padding-bottom: 25px;
		}
	}

	.hero-image-caption {
		position: absolute;
		bottom: 200px;
		width: 50%;
		padding: 25px;
		background: rgba(0,0,0,0.7);
	}

	/* Up to Medium */
	@media screen and (max-width: 63.9375em) {
		.hero-image-caption {
			width: 90%;
		}
	}
	
	.hero-image-caption p {
		color: #FDD26E;
		font-family: 'Jaldi', sans-serif;
		font-size: 2.1rem;
		line-height: 2.1rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.hero-news {
		margin: 30px 30px 5px 30px;
	}

	.hero-news-icon {
		float: left;
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 100%;
		margin-right: 15px;
	}

	.hero-news-title {
		height: 100px;
		z-index: 400;
	}

	.hero-news-title a {
		display: block;
		font: 1.2rem/1.5rem 'Jaldi', sans-serif;
		color: #5BC2E7;
	}

	.hero-news-title a:hover {
		text-decoration: underline;
	}

	.home-hero-chevron {
		padding: 0;
		position: absolute;
		/* WHY DOES THIS NOT LINE UP */
		bottom: -5px;
	}

	.home-hero-chevron {fill:#CC8A00;}
	.home-hero-antichevron {fill:#FFFFFF;}


	