/* Main Stylesheet */


/* BODY AND CONTAINER
-------------------------------------------------------------- */

body {
	background: url("../images/bg-strip-body.png") repeat-x #f0f0f0;
}


/* MASTHEAD
-------------------------------------------------------------- */

#masthead {
	height: 150px;
	background: #f60;
}


/* MAIN NAVIGATION
-------------------------------------------------------------- */

nav#main {
	height: 55px;
	border-bottom: 6px solid #cc8a00;
	background: #002855;
	color: #fff;
}


/* CONTENT AREAS
-------------------------------------------------------------- */

#content-wrapper {
}

#content-sub {
	float: left;
	background: red;
}

#content-main {
	float: right;
	background: blue;
	padding: 50px 50px 150px 68px;
}

#content-rows {
	background: yellow;
}


/* FOOTERS
-------------------------------------------------------------- */

#footer-wrapper {
}

#footer-links {
	height: 320px;
	border-bottom: 6px solid #cc8a00;
	background: #022040;
	color: #fff;
}

#footer-contact {
	height: 200px;
	background: #002855;
	color: #fff;
}

#footer-logos {
	background: purple;
	/*background: url("../images/bg-brand-pattern.jpg") repeat;*/
}

