/* Main Stylesheet */


/* BODY AND CONTAINER
-------------------------------------------------------------- */

body {
	background: url("../images/bg-strip-body.png") repeat-x #f0f0f0;
}


/* MASTHEAD
-------------------------------------------------------------- */

#masthead {
	height: 85px;
	margin-top: 65px;
}


/* MAIN NAVIGATION
-------------------------------------------------------------- */

nav#main {
	height: 55px;
	border-bottom: 6px solid #cc8a00;
	background: #002855;
	line-height: 55px;
	color: #fff;
	width: 100%;
    cursor: default;
    z-index: 500;
}

.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.nav a {
	text-decoration: none;
}

.nav .row {
	margin-left: 0;
	margin-right: 0;
}
 
.nav li {
	list-style: none;
}
 
.nav > li {
    display: block;
    float: left;
	width: 16.66%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	text-align: center;
}
.nav > li > a {
    position: relative;
    display: block;
    z-index: 510;
    height: 54px;
    padding: 0 20px;
    line-height: 54px;
 
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.nav > li:hover > a {
	color: #cc8a00;
}
 
.nav > li:first-child > a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}

#megamenu {
	padding: 0;
}


/* CONTENT AREAS
-------------------------------------------------------------- */

#content-wrapper {
	background: #fff;
}

#content-sub {
	padding: 0px;
}

#content-main {
	padding: 50px 50px 150px 68px;
}

#content-rows {
}


/* FOOTERS
-------------------------------------------------------------- */

#footer-wrapper {
}

#footer-links {
	height: 320px;
	border-bottom: 6px solid #cc8a00;
	background: #022040;
	color: #fff;
}

img.footer-img-position {
	position: relative;
	top: 61px;
}

#footer-contact {
	height: 200px;
	background: #002855;
	color: #fff;
}

#footer-logos {
	background: url("../images/bg-strip-malt.jpg") repeat;
}

